.lmj-banner {
    color: black;
    text-align: right;
    padding: 32px;
    border-bottom: solid 3px black;
}

.lmj-banner img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.lmj-banner h1 {
    font-size: 2.5rem;
    margin: 0;
}
